<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.durgs.dao.purchase_orderMapper">
  <resultMap id="BaseResultMap" type="com.durgs.entity.purchase_order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="submission_time" jdbcType="VARCHAR" property="submissionTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="reviewer" jdbcType="VARCHAR" property="reviewer" />
    <result column="reviewer_comments" jdbcType="VARCHAR" property="reviewerComments" />
    <result column="audit_time" jdbcType="VARCHAR" property="auditTime" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="modify_time" jdbcType="VARCHAR" property="modifyTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, number, name, hospital_id, link, phone, submission_time, remarks, status, reviewer, 
    reviewer_comments, audit_time, create_time, modify_time, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from purchase_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purchase_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.durgs.entity.purchase_order">
    insert into purchase_order (id, number, name, 
      hospital_id, link, phone, 
      submission_time, remarks, status, 
      reviewer, reviewer_comments, audit_time, 
      create_time, modify_time, is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{hospitalId,jdbcType=INTEGER}, #{link,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{submissionTime,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{reviewer,jdbcType=VARCHAR}, #{reviewerComments,jdbcType=VARCHAR}, #{auditTime,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.durgs.entity.purchase_order">
    insert into purchase_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="submissionTime != null">
        submission_time,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reviewer != null">
        reviewer,
      </if>
      <if test="reviewerComments != null">
        reviewer_comments,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="submissionTime != null">
        #{submissionTime,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="reviewer != null">
        #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="reviewerComments != null">
        #{reviewerComments,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.durgs.entity.purchase_order">
    update purchase_order
    <set>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="submissionTime != null">
        submission_time = #{submissionTime,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="reviewer != null">
        reviewer = #{reviewer,jdbcType=VARCHAR},
      </if>
      <if test="reviewerComments != null">
        reviewer_comments = #{reviewerComments,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.durgs.entity.purchase_order">
    update purchase_order
    set number = #{number,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      hospital_id = #{hospitalId,jdbcType=INTEGER},
      link = #{link,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      submission_time = #{submissionTime,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      reviewer = #{reviewer,jdbcType=VARCHAR},
      reviewer_comments = #{reviewerComments,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>